.mini-graph-container {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  /* overflow: visible; */
  border-radius: 8px;
}

.react-flow__viewport {
  pointer-events: none !important; /* block all interactions */
}

.react-flow__node {
  color: white;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 6px;
}
